#share-screen {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: purple;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  float: left;
}

#video {
  border: 1px solid #999;
  width: 98%;
  max-width: 860px;
}

#box {
  width: 650px;
  height: 640px;
  border: 15px solid lightblue;
  padding: 50px;
  margin: 20px;
  float: left;
}

#shared {
  width: 650px;
  height: 640px;
  border: 15px solid pink;
  padding: 50px;
  margin: 20px;
  float: right;
}
